*,*::before,*::after {
    margin: 0;
    padding: 0;
}
head{
    margin: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.personal{
    background-image: url(./image/header-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
.bio{
    background-image: url(./image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.mywork {
    background-image: url(./image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    display: grid;
    align-items: center;
}
.mywork h1 {
    text-align: center;
    font-size: 37.5px;
    font-weight: 600;
}
.half{
    width: 600px;
    font-size: 25px;
}
.colour{
    color: royalblue;
}
.ab{
    font-size: 35px;
}
.pad{
    margin: auto;
    margin-top: 15%;
    max-width: 500px;
}
.button{
    text-decoration: none;
    background-color: royalblue;
    font-weight: 700;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 20px;
}

.link2{
    text-decoration: none;
    background-color: royalblue;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}


.myImage {
    max-width: 40vw;
}
