*,*::before,*::after {
    margin: 0;
    padding: 0;
}
head{
    margin: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.personal{
    background-image: url(./image/header-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
.bio{
    background-image: url(./image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.mywork {
    background-image: url(./image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    display: grid;
    align-items: center;
}
.mywork h1 {
    text-align: center;
    font-size: 37.5px;
    font-weight: 600;
}
.half{
    width: 600px;
    font-size: 25px;
}
.colour{
    color: royalblue;
}
.ab{
    font-size: 35px;
}
.pad{
    margin: auto;
    margin-top: 15%;
    max-width: 500px;
}
.button{
    text-decoration: none;
    background-color: royalblue;
    font-weight: 700;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 20px;
}

.link2{
    text-decoration: none;
    background-color: royalblue;
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}


.myImage {
    max-width: 40vw;
}
.picture img{
    width: 90%;
    margin-left: 30px;
}
.latest{
    margin: 50px;
    margin-left: 46%;
    font-size: 20px;
    margin-top: 70px;
    padding-top: 20px;
}
.picture{
    background-image: url(./image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.text{
    width: 100%;
    margin-left: 5%;
    font-size: 50px;
    margin-bottom: 20px;
}
.ceo{
    text-align: center;
    margin-left: 1.5%;
}
.sa{
    font-weight: 900;
}
.hi h4{
    margin-top: -80px;
}
.bu{
    background-color: royalblue;
    color: white;
    text-align: center;
    padding: 30px 70px;
    margin-top: -80px;
}
.con{
    background-image: url(./image/footer-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
footer{
    text-align: center;
    margin: 80px 0px 50px 0px;
}